@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica.ttf");
}

body {
    margin: 0;
    font-family: "Helvetica";
    background-color: #f1f1f1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.main-content{
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
    -ms-animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    display: none;
}

/* Style the header */

header {
    margin-bottom: 2rem;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.nav li {
    float: left;
    margin: 1rem;
}

ul.nav li a {
    display: block;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #546da6;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none;
    text-align: center;
}

ul.nav li a:hover {
    background-color: #aadfee;
    box-shadow: 0 0 20px #6fc5ff50;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

@media screen and (max-width: 600px) {
    ul.nav li.right,
    ul.nav li.left,
    ul.nav li {
        float: none;
        margin: auto;
        margin-top: 1rem;
    }
}

/* Style the content */

.marked {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #a956aa;
}

#portada button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #a956aa, #c9b1ce);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-left: 10rem;
    margin-top: 2rem;
}

#portada button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: onda 2s infinite;
    animation: onda 1.5s infinite;
    animation-timing-function: ease-in;
    transform: scale(1.1);
}

@keyframes onda {
    0% {
        box-shadow: 0 0 0 0 #d7cef3;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

#portada h1 {
    font-size: 3rem;
    text-align: left;
    margin: 10rem;
    margin-top: 12rem;
    margin-bottom: 0;
    width: 35%;
    line-height: 2;
}

#portada {
    margin-bottom: 15rem;
}

#secciones {
    background-color: #465892;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
    flex-direction: column;
}

#seccionPrincipal,
#seccionFacil {
    width: 70%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #aadfee8c;
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px #aadfee8c;
    padding: 1.8rem;
    overflow: visible;
    margin: 0 auto;
    display: flex;
    margin-top: 10rem;
}

#seccionPrincipal:hover {
    box-shadow: -12px 12px 2px -1px #aadfee8c;
}

#seccionFacil:hover {
    box-shadow: -12px 12px 2px -1px #f1a1a2a4;
}

#seccionPrincipal div,
#seccionFacil div {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    margin: auto;
}

#seccionPrincipal div h2 {
    margin: 0;
    margin-bottom: 2rem;
}

#seccionPrincipal div img {
    width: 50px;
    height: 50px;
    margin-bottom: 1.5rem;
}

#seccionControla {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    gap: 2rem;
}

#seccionControla div {
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #c0e93b94;
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px #c0e93b94;
    padding: 1.8rem;
    overflow: visible;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seccionControla div:hover {
    box-shadow: -12px 12px 2px -1px #c0e93b94;
}

#seccionControla div h2 {
    font-size: 2rem;
    margin-left: 2rem;
}

#seccionControla div p {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

#seccionControla img {
    width: 250px;
    height: 290px;
    margin: auto;
    margin-top: -2rem;
    animation: move 1.5s linear infinite;
}

@keyframes move {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

#seccionFacil {
    margin-top: 10rem;
    border-color: #f1a1a2a4;
    width: 60%;
    box-shadow: 12px 12px 2px 1px #f1a1a2a4;
}

#seccionFacil div {
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#seccionFacil div div {
    width: 50%;
    flex-direction: column;
    margin-top: -1rem;
}

#seccionFacil div div h2 {
    font-size: 2rem;
}

#seccionFacil div div p {
    font-size: 1.3rem;
}

#seccionFacil div img {
    margin: auto;
    width: 250px;
    height: 250px;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#seccionAccesible {
    width: 60%;
    padding: 1.8rem;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 10rem auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#seccionAccesible div {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #fffd6ace;
    transition: all 0.2s;
    box-shadow: 12px 12px 2px 1px #fffd6ace;
    width: 50%;
    height: 100%;
    text-align: left;
    padding: 1rem;
    margin: auto;
}

#seccionAccesible div h2 {
    font-size: 2rem;
    margin-left: 2rem;
}

#seccionAccesible div p {
    font-size: 1.3rem;
    margin-left: 2rem;
}

#seccionAccesible div:hover {
    box-shadow: -12px 12px 2px -1px #fffd6ace;
}

#seccionAccesible img {
    margin: auto;
    width: 250px;
    height: 250px;
    animation: spin 15s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 900px) {
    #seccionPrincipal,
    #seccionAccesible,
    #seccionFacil,
    #seccionControla {
        width: 90%;
        flex-direction: column;
        height: auto;
        padding: 0;
        margin-top: 5rem;
    }

    #seccionAccesible img {
        margin: auto;
        margin-bottom: 2rem;
    }

    #seccionFacil div img {
        width: 150px;
        height: 150px;
    }

    #portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #portada h1 {
        font-size: 2rem;
        text-align: center;
        margin-top: 12rem;
        margin-bottom: 0;
        width: 100%;
        line-height: 2;
    }

    #portada button {
        margin: auto;
        margin-top: 2rem;
    }
}

/* Formularios de auth*/

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: #fff;
    color: rgb(97 97 97);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    width: 22rem;
    background-clip: border-box;
    margin: 0 auto;
}

.header {
    position: relative;
    background-clip: border-box;
    background-color: #546da6;
    background-image: linear-gradient(to top right, #546da6, #465892);
    margin: 10px;
    border-radius: 0.75rem;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
        rgba(33, 150, 243, 0.4);
    height: 7rem;
    letter-spacing: 0;
    line-height: 1.375;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    width: 100%;
    height: 2.75rem;
    position: relative;
}

.input {
    border: 1px solid rgba(128, 128, 128, 0.61);
    outline: 0;
    color: rgb(69 90 100);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.25rem;
    padding: 0.75rem;
    background-color: transparent;
    border-radius: 0.375rem;
    width: 95%;
    height: 100%;
}

.input:focus {
    border: 1px solid #1e88e5;
}

.checkbox-container {
    margin-left: -0.625rem;
    display: inline-flex;
    align-items: center;
}

.checkbox {
    position: relative;
    overflow: hidden;
    padding: 0.55rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.027);
    height: 35px;
    width: 35px;
}

.checkbox input {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.checkbox-text {
    cursor: pointer;
}

.login {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    padding: 0.75rem 1.5rem;
    background-color: #546da6;
    background-image: linear-gradient(to top right, #546da6, #465892);
    border-radius: 0.5rem;
    width: 100%;
    outline: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.login:hover {
    transform: scale(1.01);
    transition: 0.3s;
    background-color: #465892;
    background-image: linear-gradient(to top right, #465892, #546da6);
}

.register {
    line-height: 1.5;
    font-weight: 300;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register a {
    line-height: 1.5;
    font-weight: 700;
    font-size: 0.875rem;
    margin-left: 0.25rem;
    color: #1e88e5;
}

/* Main */

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #33406b;
    position: fixed;
    height: 100%;
    overflow: hidden;
}

ul.sidenav li:nth-child(1) {
    margin-top: 80px;
}

ul.sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

ul.sidenav li a:hover {
    background-color: #546da6;
    color: white;
}
#titulo {
    margin-left: 20%;
    width: 72%;
}

#titulo h1 {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #33406be0;
    color: white;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}

.main-content {
    margin-left: 20%;
    padding: 10px 16px;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 80px 20px;
    align-items: center;
    justify-content: center;
    grid-auto-columns: 1fr;
    background-color: #f5f5f5;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    border-top: 1px solid #33406be0;
}


.account {
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    width: 88%;
}

.account img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }

    div.content {
        margin-left: 0;
    }

    .account {
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

.salir a {
    background-color: #811212 !important;
}

.salir a:hover {
    background-color: #992a2a !important;
    box-shadow: 0 0 20px #ef9090 !important;
}

#estado {
    width: 90%;
    height: 50%;
    padding: 10px;
    padding-top: 1%;
    background-color: #33406be0;
    color: white;
    font-size: 20px;
    border-radius: 0 0 0 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#dinero-actual {
    font-size: 20px;
}

#nombre {
    font-weight: bold;
}

.botones {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 10px 0;
    padding: 10px;
}

.botones a {
    display: inline-block;
    margin: 10px;
    background-color: #a0ca162d;
    border: 0.125em solid rgb(68, 143, 2);
    border-radius: 0.9375em;
    box-sizing: border-box;
    padding: 0.8em 1.2em;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    text-decoration: none;
    color: #1a1a1a;
    font-size: 30px;
    font-weight: 700;
}

.botones .gastos {
    background-color: #9c21212d;
    border: 0.125em solid rgb(143, 2, 2);
}

.botones a:hover {
    color: #fff;
    border-color: #fff;
    background-color: #a0ca169d;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.botones .gastos:hover {
    color: #fff;
    border-color: #fff;
    background-color: #9c212194;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#grafica {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-content div:not(.botones, #estado) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: #33406b 1px solid;
    border-radius: 11px;
}

.main-content h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #33406be0;
    color: white;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
}

#dinero-flexible span {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10%;
        grid-gap: 10px;
    }

    #titulo {
        margin-left: 12%;
    }

    #estado {
        width: 100%;
    }

    #dinero-flexible span {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Ingresos */

.checkbox {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 20px;
}

.checkbox:before {
    content: "X";
    text-align: center;
    width: 16px;
    height: 16px;
    border: 1px solid #992a2a;
    border-radius: 3px;
    padding: 1px;
    padding-top: 1px;
    background-color: #f1a1a2;
    font-size: 16px;
}

.checkbox:checked:before {
    content: "✓";
    font-size: 13px;
    font-weight: bold;
    background-color: #bfe93b;
    border: 1px solid #83a512;
}

select#tipo {
    border: 0;
    border-radius: 0;
    font-weight: bold;
    border-bottom: 1px solid #33406be0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-bottom: 10px;
}

select#tipo option {
    background-color: #33406be0;
    color: white;
}

#tabla-ingresos,
#tabla-gastos,
#tabla-finanzas {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

#tabla-ingresos table,
#tabla-gastos table,
#tabla-finanzas table {
    border-collapse: collapse;
}

#tabla-ingresos table th,
#tabla-gastos table th,
#tabla-finanzas table th {
    background-color: #33406b;
    color: white;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

/* Primer y último elemento tienen borde uno a la izquierda y otro a la derecha */

#tabla-ingresos table th:first-child,
#tabla-gastos table th:first-child,
#tabla-finanzas table th:first-child {
    border-radius: 10px 0 0 0;
}

#tabla-ingresos table th:last-child,
#tabla-gastos table th:last-child,
#tabla-finanzas table th:last-child {
    border-radius: 0 10px 0 0;
}

#tabla-ingresos table tr,
#tabla-gastos table tr,
#tabla-finanzas table tr {
    border-bottom: 1px solid #ccc;
}

#tabla-ingresos table tr td,
#tabla-gastos table tr td,
#tabla-finanzas table tr td {
    padding: 10px;
    text-align: center;
}

#tabla-ingresos table tbody tr:hover,
#tabla-gastos table tbody tr:hover,
#tabla-finanzas table tbody tr:hover {
    background-color: #968eaf31;
}

@media screen and (max-width: 900px) {
    #tabla-ingresos table,
    #tabla-gastos table,
    #tabla-finanzas table {
        width: 100%;
    }

    #tabla-ingresos table th,
    #tabla-gastos table th,
    #tabla-finanzas table th {
        display: none;
    }

    #tabla-ingresos table tr,
    #tabla-gastos table tr,
    #tabla-finanzas table tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #tabla-ingresos table tr td,
    #tabla-gastos table tr td,
    #tabla-finanzas table tr td {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#ahorro {
    grid-column: 1 / -1;
    margin: 0 auto;
    width: 45% !important;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #ahorro {
        width: 100% !important;
    }
}

.borrar,
.añadir,
.modificar {
    margin: auto;
    width: 50%;
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: #811212;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #dedede;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    grid-row: 3 / 5;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.añadir {
    background-color: #0a6e0a;
}

.modificar {
    background-color: #33406b;
}

.borrar::before,
.añadir::before,
.modificar::before {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(
        135deg,
        rgb(245, 245, 245) 0%,
        rgb(245, 245, 245) 50%,
        rgba(150, 4, 31, 1) 50%,
        #811212 60%
    );
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.añadir::before {
    background: linear-gradient(
        135deg,
        rgb(245, 245, 245) 0%,
        rgb(245, 245, 245) 50%,
        rgb(99, 150, 4) 50%,
        #0a6e0a 60%
    );
}

.modificar::before {
    background: linear-gradient(
        135deg,
        rgb(245, 245, 245) 0%,
        rgb(245, 245, 245) 50%,
        #4e619e 50%,
        #33406b 60%
    );
}

.borrar:hover::before,
.añadir:hover::before,
.modificar:hover::before {
    width: 1.6em;
    height: 1.6em;
}

.borrar:hover,
.añadir:hover,
.modificar:hover {
    transition: 0.3s;
    transform: translate(0.1em, 0.1em);
}

.borrar:hover {
    background-color: #d62222;
}

.añadir:hover {
    background-color: #0f8e0f;
}

.modificar:hover {
    background-color: #4e619e;
}

.borrar:active,
.añadir:active,
.modificar:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    color: #33406b;
}

.compragrande {
    width: 100%;
    height: 100%;
}

.compragrande img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 50%;
}

.compragrande p {
    margin: 0 auto;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    width: 55%;
    text-align: center;
}

.compragrande .botones,
#unidadfamiliar .botones {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
}

.compragrande .botones button,
#unidadfamiliar .botones button {
    margin: 10px;
}

#añadirCompraGrande,
#unidadfamiliar {
    grid-column: 1 / -1;
    border: 0 !important;
}

#añadirCompraGrande button {
    width: 30%;
}

@media screen and (max-width: 900px) {
    #añadirCompraGrande {
        width: 100%;
    }

    #añadirCompraGrande button {
        width: 100%;
    }

    #añadirCompraGrande p {
        width: 100%;
    }

    .compragrande .botones button {
        font-size: 1em;
    }
}

#unidadfamiliar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#integrantes {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    border: 0 !important;
}

#integrantes img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px;
    border-radius: 50%;
}

#integrantes span {
    margin: 5px;
    padding: 0.2em;
    background-color: #33406bc2;
    border-radius: 0.5em;
    transition: 0.2s;
}

#integrantes span:hover {
    /* La vuelve roja */
    background-color: #811212;
    /* La vuelve transparente */
    opacity: 0.9;
    transition: 0.2s;
    border-radius: 0.5em;
}

.buscar {
    grid-column: 1 / -1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
    margin: auto;
    margin-bottom: -50px;
    width: 50%;
    transition: 0.3s;
}

.buscar:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

@media screen and (max-width: 900px) {
    #integrantes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column !important;
        border: #33406b 1px solid;
        border-radius: 11px;
    }

    .buscar {
        width: 90%;
        margin-bottom: 0;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}

/* Cuenta */

.accountInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
}

.account-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.account-info-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    border: none !important;
}

.account-info-photo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.account-info-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none !important;
}

.account-info-data h2 {
    margin: 0;
    padding: 0;
}
